Thank you for Registering..<br /><br />

A confirmation email has been sent to your registered email address..<br />
Please activate your account by clicking the link provided in that email.<br /><br />

After activating, you can then use this link below to login:<br /><br />
<a href='http://backend.sendoffers.com/login'>Sendoffers Login</a>

