<h1>Editing client</h1>

<%= render 'form' %>

<%= link_to 'Show', :controller => :clients, :action => :show, :id => @client, :uuid => @uuid %> |
<%= link_to 'Back', :controller => :ads, :action => :admin_dash, :id => 1, :uuid => @uuid %>
